body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.container{
background-color: rgb(127, 225, 255);
margin-top: 5%;
padding: 20px;
width: 70%;
border: 2px solid #666;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0,0,0,0.2);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-size: cover;
color: #121110;
}

.heading-container{
    text-align: center;
    color: #000;
}

.form-container{
    display: flex;

}
.form-controls{
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(29, 210, 77);
}

.input-form:focus{
    outline: navy;
}

.image-gen-btn, .ai-gen-btn{
    background-color: rgb(9, 179, 60);
    cursor: pointer;
    color: #fff;
    margin-left: 3px;
}

#image-text {
    color: #000;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.my-generated-image {
    width: 500px;                /* Set a fixed width */
    height: auto;                /* Maintain aspect ratio */
    border: 4px solid #4CAF50;   /* Add a green border */
    border-radius: 20px;         /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover transition */
    
}

/* Add hover effect */
.my-generated-image:hover {
    transform: scale(1.05);      /* Slightly enlarge on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}


.image-container a {
    text-decoration: none;
    flex-wrap: wrap;
    width: calc(33.33% - 30px);
    box-sizing: border-box;
    transition: transform 0.5s ease;

}

.image-container a:hover{
    transform: scale(1.1);
}

.image-item{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    height: 100px;
    display: block;
    cursor: pointer;
}

.loading-message {
    margin-top: 90px;
    font-size: 18px;
    color: #af4c77;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}